<div class="row">
  <div class="col-md-6">
    <h3><B>Search for Users by E-Mail:</B></h3>
    <%= form_tag admin_editor_path, :method => :get, :class => "form-search" do %>
      <%= text_field_tag :q, '',size: 30, autofocus: true %>
      <%= submit_tag "Search", class: 'btn btn-sm btn-primary' %>
    <% end %>
  </div>
  <div class="col-md-6" align="right">
    <br>
    <h2><B>Administrator Editor</B></h2>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h3 class="panel-title"><B><CENTER>Add Rights</CENTER></B></h3></div>

      <!-- Table -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th width=70%>E-Mail</th><th>Administrator</th>
          </tr>
        </thead>
    <% if @users.length > 0 %>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.formatted_email %>
          </td>
          <td class="c">
            <% if user.admin %>
              <%= link_to '<i class="fa fa-minus-square" aria-hidden="true"></i>'.html_safe, remove_admin_path(user.id, params[:q]), data: { confirm: "Are you sure you want to remove #{user.email} as an Administrator?" }, class: "btn btn-sm btn-danger" %>
            <% else %>
              <%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>'.html_safe, add_admin_path(user.id, params[:q]), data: { confirm: "Are you sure you want to add #{user.email} as an Administrator?" }, class: "btn btn-sm btn-success" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>
        Sorry, no records match your query.
        </td>
        <td>
        </td>
      </tr>
    <% end %>
      </table>
    </div>
<!-- PAGINATION STARTS HERE -->
    <nav>
      <ul class="pagination">
          <% if params[:s].to_i == 0 %>
            <li class="disabled"><a href="">«</a></li>
          <% else %>
            <li><%= link_to "«", admin_editor_path(params.slice(:q, :a).merge(s: params[:s].to_i-1)) %></li>
          <% end %>
        <% if @user_pages %>
          <% 1.upto(@user_pages) do |i| %>
            <% if params[:s].to_i == i-1 %>
              <li class="active">
            <% else %>
              <li>
            <% end %>
              <%= link_to i, admin_editor_path(params.slice(:q, :a).merge(s: i-1)) %>
          <% end %>
              </li>
        <% end %>
        <li>
            <% if params[:s].to_i == @user_pages-1 || @user_pages == 0 %>
              <li class="disabled"><a href="">»</a></li>
            <% else %>
              <%= link_to "»", admin_editor_path(params.slice(:q, :a).merge(s: params[:s].to_i+1)) %>
            <% end %>
        </li>
      </ul>
    </nav>
<!-- PAGINATION ENDs HERE -->
  </div>

  <div class="col-md-6">
    <% if @admins %>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3 class="panel-title"><B><Center>Remove Rights</Center>  </B></h3></div>

        <!-- Table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th width=70%>E-Mail</th><th>Administrator</th>
            </tr>
          </thead>

          <% @admins.each do |user| %>
            <tr>
            <td>
              <%= user.formatted_email %>
            </td>
            <td class="c">
              <% if user.admin %>
                <%= link_to '<i class="fa fa-minus-square" aria-hidden="true"></i>'.html_safe, remove_admin_path(user.id, params[:q] = "@"), data: { confirm: "Are you sure you want to remove #{user.email} as an Administrator?" }, class: "btn btn-sm btn-danger" %>
              <% else %>

              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
<!-- PAGINATION STARTS HERE -->
      <nav align="right">
        <ul class="pagination">
            <% if params[:a].to_i == 0 %>
              <li class="disabled"><a href="">«</a></li>
            <% else %>
              <li><%= link_to "«", admin_editor_path(params.slice(:q, :s).merge(a: params[:a].to_i-1)) %></li>
            <% end %>
          <% if @admin_pages %>
            <% 1.upto(@admin_pages) do |i| %>
              <% if params[:a].to_i == i-1 %>
                <li class="active">
              <% else %>
                <li>
              <% end %>
                <%= link_to i, admin_editor_path(params.slice(:q, :s).merge(a: i-1)) %>
            <% end %>
                </li>
          <% end %>
          <li>
              <% if params[:a].to_i == @admin_pages-1 || @admin_pages == 0 %>
                <li class="disabled"><a href="">»</a></li>
              <% else %>
                <%= link_to "»", admin_editor_path(params.slice(:q, :s).merge(a: params[:a].to_i+1)) %>
              <% end %>
          </li>
        </ul>
      </nav>
<!-- PAGINATION ENDs HERE -->
    <% end %>
  </div>
</div>