<div class="container-fluid">
<% provide(:title, 'Welcome') %>
<% provide(:jumbotron, '
  <h1>Admin: <small>Control Panel</small></h1>
'.html_safe)%>
  
  <div class="row">
    <div class="col-md-4">
      <h2>Teachers</h2>
      <p>Add & remove Teachers.</p>
      <p><%= link_to "Teacher Editor »", teacher_editor_path, class: "btn btn-default" %></p>
    </div>
    <div class="col-md-4">
      <h2>Administrators</h2>
      <p>Add & remove Administrators.</p>
      <p><%= link_to "Administrator Editor »", admin_editor_path, class: "btn btn-default" %></p>
    </div>
    <div class="col-md-4">
      <h2>Import</h2>
      <p>Import students for tutorial access.</p>
      <p><%= link_to "Import »", import_path, class: "btn btn-default" %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Edit Students</h2>
      <p>Review access records and track usage.</p>
      <p><%= link_to "Edit Students »", root_path, class: "btn btn-default" %></p>
    </div>
    <div class="col-md-4">
      <h2>Edit Users</h2>
      <p>Review access records and track usage.</p>
      <p><%= link_to "Edit Users »", root_path, class: "btn btn-default" %></p>
    </div>
    <div class="col-md-4">
      <h2>Statistics</h2>
      <p>Show statistical analysis for all tutorials.</p>
      <p><%= link_to "Stats »", root_path, class: "btn btn-default", data: { no_turbolink: true } %></p>
    </div>
  </div>
</div>