<div class="row">
  <div class="col-md-6">
    <h3><B>Search for Users by E-Mail:</B></h3>
    <%= form_tag user_search_path, :method => :get, :class => "form-inline" do %>
      <%= text_field_tag :q, '',size: 30, :class => "form-control", autofocus: true %>
      <%= submit_tag "Search", class: 'btn btn-sm btn-primary' %>
    <% end %>
  </div>
  <div class="col-md-6" align="right">
    <br>
    <h2><B>User Editor</B></h2>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h3 class="panel-title"><B><CENTER>Search Results:</CENTER></B></h3></div>

      <!-- Table -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th width=70%>E-Mail</th><th></th>
          </tr>
        </thead>
    <% if @users.length > 0 %>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.formatted_email %>
          </td>
          <td class="c">
            <%= link_to "Edit", edit_user_path(user), class: "btn-sm btn-primary" %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>
        Sorry, no records match your query.
        </td>
        <td>
        </td>
      </tr>
    <% end %>
      </table>
    </div>
<!-- PAGINATION STARTS HERE -->
    <nav>
      <ul class="pagination">
          <% if params[:s].to_i == 0 %>
            <li class="disabled"><a href="">«</a></li>
          <% else %>
            <li><%= link_to "«", user_search_path(params.slice(:q).merge(s: params[:s].to_i-1).permit!) %></li>
          <% end %>
        <% if @user_pages %>
          <% 1.upto(@user_pages) do |i| %>
            <% if params[:s].to_i == i-1 %>
              <li class="active">
            <% else %>
              <li>
            <% end %>
              <%= link_to i, user_search_path(params.slice(:q).merge(s: i-1).permit!) %>
          <% end %>
              </li>
        <% end %>
        <li>
            <% if params[:s].to_i == @user_pages-1 || @user_pages == 0 %>
              <li class="disabled"><a href="">»</a></li>
            <% else %>
              <%= link_to "»", user_search_path(params.slice(:q).merge(s: params[:s].to_i+1).permit!) %>
            <% end %>
        </li>
      </ul>
    </nav>
<!-- PAGINATION ENDs HERE -->
  </div>
</div>