<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tr>
          <th style="width: 45%;">
            Sessions for <%= (Time.zone.now.beginning_of_day+(params[:offset].to_i.days)).strftime("%a %m/%d/%Y") %>:
          </th>
          <th>
            Teacher:
          </th>
          <th>
            Date:
          </th>
          <th>
            Start Time:
          </th>
          <th>
            End Time:
          </th>
        </tr>
        <% @class_sessions.each do |session| %>
        <tr>
          <td>
            <%= link_to "#{session.name}", class_session_path(session) %>
          </td>
          <td>
            <%= session.user.email[/[^@]+/] %>
          </td>
          <td>
            <%= session.created_at.strftime("%a %m/%d/%Y") %>
          </td>
          <td>
            <%= session.created_at.strftime("%l:%M:%S %p") %>
          </td>
          <td>
            <%= session.end_time ? session.end_time.strftime("%l:%M:%S %p") : "-" %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
  <div class="col-md-12">
    <%= link_to "« Previous Day", stats_general_path(offset: params[:offset].to_i-1), class: "btn btn-primary" %>
    <%= link_to "Next Day »", stats_general_path(offset: params[:offset].to_i+1), class: "btn btn-primary pull-right" %>
  </div>
  </div>
</div>





<BR><BR><BR>
<div class="row">
  <div class="col-md-12" align="center">
    <H2><b>General Statistics:</b></H2>
    <HR>
    Session count by day past 30 days:
    <%= line_chart @class_sessions_month.group_by_day(:created_at, format: "%B %d, %Y").count %>
  </div>
</div>
<div class="row">
  <div class="col-md-4" align="center">
    Session Count past 7 days:<br>
    <%= pie_chart @class_sessions_week.joins(:user).group("users.email").count %>
  </div>
  <div class="col-md-4" align="center">
    Session Count past 30 days:<br>
    <%= pie_chart @class_sessions_month.joins(:user).group("users.email").count %>
  </div>
  <div class="col-md-4" align="center">
    Attendance Overview:<br>
    <small>Student session count past 7 days.</small>
    <%= bar_chart Student.attendance_hash %>
  </div>
</div>